PROCJUD.Web/Connected Services/ServiceReniec/WCFSistemasService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFSistemasService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFSistemasService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EnviarDatosdPersona">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID_AMBIENTE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_DNI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_DNIUSEREMP" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EnviarDatosdPersona" nillable="true" type="tns:EnviarDatosdPersona" />
  <xs:complexType name="BuscarPersonaResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="DES_DATO_01" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DES_DATO_02" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DES_DATO_03" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DES_DATO_04" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DES_DATO_05" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DES_DATO_06" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DES_DATO_07" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DES_DATO_08" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DES_DATO_09" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DES_DATO_10" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DES_DATO_11" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DES_DATO_12" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DES_DATO_13" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DES_DATO_14" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DES_DATO_15" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DES_DATO_16" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DES_DATO_17" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DES_DATO_18" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DES_DATO_19" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DES_DATO_20" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DES_DATO_21" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DES_DATO_22" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_DNI" type="xs:long" />
      <xs:element minOccurs="0" name="MiIP" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BuscarPersonaResult" nillable="true" type="tns:BuscarPersonaResult" />
  <xs:complexType name="PersonaNaturalResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="APELLIDOS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AUDIT_MOD" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CELULAR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODIGO_DEPARTAMENTO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODIGO_DISTRITO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODIGO_PROVINCIA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODIGO_PUERTO" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DIRECCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FAX" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FLAG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FLAG_OEC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ID_AURA" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID_SECTOR" type="xs:int" />
      <xs:element minOccurs="0" name="ID_TIPO_IDENTIFICACION" type="xs:int" />
      <xs:element minOccurs="0" name="ID_TIPO_IDENTIFICACION_REP_LEG" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID_TIPO_ORGANIZACION" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID_TIPO_PERSONA" type="xs:int" />
      <xs:element minOccurs="0" name="NOMBRES" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NRO_DOCPERNATURAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NRO_DOCUMENTO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NRO_DOCUMENTO_REPRESENTANTE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OBSERVACIONES" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RAZON_SOCIAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="REPRESENTANTE_LEGAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RUBRO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TELEFONO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonaNaturalResponse" nillable="true" type="tns:PersonaNaturalResponse" />
  <xs:complexType name="CarnetExtranjeriaRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="APELLIDOS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODIGO_DEPARTAMENTO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODIGO_DISTRITO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODIGO_PROVINCIA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DIRECCION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOMBRES" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NRO_DOCUMENTO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TELEFONO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CarnetExtranjeriaRequest" nillable="true" type="tns:CarnetExtranjeriaRequest" />
</xs:schema>